html{
    font-family: Helvetica;
}
#container{
    border: 1px, solid, red;
    max-width: 62%;
    margin: auto;
}
.logo-image{
    position: relative;
    text-align: center;
}
.logo-image img{
    background-size: cover;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
 }
.logo-image-text{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    position: absolute;
    top: 50%;
    margin-top: -35px;
}
.brushes{
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: mediumspringgreen;
    margin-top:50px;
}
.brushes-image{
    margin-top: 20px;
    margin-bottom: 20px;
}
.frames{
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: lightcoral;
    margin-top:50px;
}
.frames-image{
    margin-top: 20px;
    margin-bottom: 20px;
}
.paint{
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: skyblue;
    margin-top:50px;
}
.paint-image{
    margin-top: 20px;
    margin-bottom: 20px;
}
.last-p{
    margin-bottom: 50px;
}
/*Adding a rule for small screens like phones*/ 
@media screen and (max-width: 500px) {
.logo-image-text{
    font-size: 30px;
    font-weight: bold;
    }
}
